.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
@media (prefers-color-scheme: light) {
  button{color: black;}
}


#videoContainer {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto 0 auto; /* top margin, auto left/right for centering */
  align-content: center;
  align-items: center;
  align-self: center;
  display:flex;
  justify-content: center;

}

#webcam {
  width: 100%;
  height: auto;
  display: none;
  opacity: 0; 
}
#outputCanvas {
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: auto;
  pointer-events: none; /* Prevents canvas from blocking mouse events */
  display: block;
}


#stateDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 20px 0;
}
.stateButton {
  flex: 1;
  padding: 12px 0;
  border-radius: 2%;
  margin: 0;
}

#cameraSelect{
  max-width: 200px;
  align-self: center;
  margin: 0 auto 10px auto;
  padding: 8px;
}

#webcamButton{
  max-width: 200px;
  align-self: center;;
}

#fullscreenDiv {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin-top: 20px;
  /* margin-left: 30px;
  margin-right: 30px; */
  /* max-width: 1290px; */
  align-self: center;
  padding: 20px;
  width: 95%;
  height: auto;
}

.fullscreen-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 18px;
}

.fullscreen-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
#liveView {
  position: relative;   /* ensures children can be positioned relative */
}

#loadingOverlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -20%); /* centers the div */
  
  padding: 1rem 2rem;
  background: rgba(255,1,1,0.1);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1rem;
  color: #333;

  /* display: none;  /* hidden by default */
  z-index: 2000;
}